@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

@layer components {
  .container {
    @apply w-full max-w-[1440px] px-5 mx-auto;
  }
}

.slider-controler {
  position: relative;
  padding: 50px 0;
  bottom: 2rem;
}

.slider-controler .slider-arrow {
  color: #222224;
}

.slider-controler .swiper-button-prev {
  left: 94% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 1220px) {
  .slider-controler .swiper-button-prev {
    left: 94% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 1040px) {
  .slider-controler .swiper-button-prev {
    left: 90% !important;
    transform: translateX(-50%) !important;
  }
}

@media (max-width: 960px) {
  .slider-controler .swiper-button-prev {
    left: 90% !important;
    transform: translateX(-50%) !important;
  }
}

@media (max-width: 790px) {
  .slider-controler .swiper-button-prev {
    left: 85% !important;
    transform: translateX(-40%) !important;
  }
}

@media (max-width: 580px) {
  .slider-controler .swiper-button-prev {
    left: 80% !important;
    transform: translateX(-40%) !important;
  }
}
@media (max-width: 460px) {
  .slider-controler .swiper-button-prev {
    left: 80% !important;
    transform: translateX(-70%) !important;
  }
}

.slider-controler .slider-arrow::after {
  content: "";
}

.slider-controler .slider-arrow {
  width: 2.5rem;
  height: 2.5rem;
}
