@tailwind base;
@tailwind components;
@tailwind utilities;


/* logo background */
.logoText{
    background-image: url('https://i.pinimg.com/564x/12/25/d4/1225d459c2a09a91a27e6347adc19dfe.jpg');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

p{
    font-size: large;
}

